doctype html
head
  title rdio-room
  link(href='/css/client.css' rel='stylesheet')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
  script(src='https://cdn.socket.io/socket.io-1.0.6.js')
  script(src='https://www.rdio.com/api/api.js?client_id=cZ3gX_7XLAis91k2wKnHhw')
  script(src='/js/main.js')
  script(src='/js/isLoggedIn.js')

body

  a(href = "/auth/rdio/callback") login
  br
  a(href = "/logout") logout
  .content
    | Login Info.
  h3 Requests
  |Request info
  .requests
    .title

  .icon
    img()
  .track
  .album-title
  .artist
