doctype html
head
  title rdio-room
  link(href='/css/client.css' rel='stylesheet')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
  script(src='/js/main.js')
  script(src='/js/isLoggedIn.js')
body

  a(href = "/auth/rdio/callback") login
  br
  a(href = "/logout") logout
  .content
    | this is rdio room.
